
<div class="hero-cards">
  <div class="hero-card">
    <i class="fa-solid fa-user-large" ></i>
    <h2> Hi, I am Erika </h2>
    <p>I develop multilingual web apps using Django to enhance HVAC documentation workflows, and I also contribute as a PLC programmer for HVAC applications.
    </p>
    <!--Overlay content -->
    <div class="hero-overlay">
      <a href="/about/" class="hero-button">Read More</a>
    </div>
  </div>
  <div class="hero-card">
    <i class="fa-solid fa-laptop-code" ></i>
    <h2> What's on This Site? </h2>
    <p>
      This site is a snapshot of some cool projects I've been a part of. You'll find a mix of work-related and personal projects 
      that I've had the chance to work on.
    <!--Overlay content -->
    <div class="hero-overlay">
      <a href="#projects" data-scroll class="hero-button">Read More</a>
    </div>
    </p>
  </div>
  <div class="hero-card">
    <i class="fa-solid fa-cookie-bite"></i>
    <h2> And Extra Bit </h2>
    <p>Check out my blog for the cool tricks and tips I've picked up in bigger projects. </p>
    <!--Overlay content -->
    <div class="hero-overlay">
      <a href="#Blog" class="hero-button">Read More</a>
    </div>    
  </div>
</div>

