
<div class="header">
    <div class="header-intro">
      <div class="header-left">
        <img src="/assets/img/avatar.png">
      </div>
      <div class="header-right">
        <h1 class="site-title">{{site.username}}</h1>
        <div class="header-links">
          <a class="link" href="/about/" data-scroll>About</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
          <a class="link" href="#Blog" data-scroll>Blog</a>
          <a class="link" href="/changelog/" data-scroll>Changelog</a>
        </div>
        <div class="header-icons">
          <a aria-label="My Github" target="_blank" href="https://github.com/langeeri"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
          <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/erika-langerov%C3%A1-35060b1b2/"><i class="fa-brands fa-linkedin"  aria-hidden="true"></i></a>
          <a aria-label="Send email" href="mailto:langeeri@protonmail.com?subject=Email Subject&body=Message Body""><i class="fa-solid fa-envelope"></i></a>
        </div>
      </div>
    </div>
</div>




