
<div class="header">
    <div class="header-intro">
      <div class="header-left">
        <img src="/assets/img/profile.jpeg">
      </div>
      <div class="header-right">
        <h1 class="site-title">Ing. Erika Langerová</h1>
        <p>Vyvíjím webové aplikace a software pro PLC - programovatelné logické automaty. Aplikace stavím fullstack na Djangu a Reactu. PLC programuji, věnuji se jejich testování před nasazením na reálných instalacích, řídicí systémy oživuji a uvádím do provozu přímo na místě i vzdáleně a řeším jejich dlouhodobou vzdálenou správu. Vyvíjím pokročilé komunikační middlewary pro propojení simulačních softwarů s PLC. Píšu články do českých i zahraničních odborných časopisů. Aktuálně působím na plný úvazek jako vývojář na ČVUT UCEEB a v Regulus spol. s.r.o. </p>
      </div>
    </div>
</div>




