<div class="profile-container">
  <div class="profile-button-container-left">
    <a href="/" ><div class="profile-button-back"> <i class="fa-solid fa-arrow-left"></i> </div></a>
  </div>
	<div class="profile-left-column">
        <div class="upper-left-column">
            <div class="profile-image">
                <img src="/assets/img/profile.jpeg" alt="Profile Image" />
            </div>
            <h3> Erika Langerová </h3>
            <h4> langeeri@protonmail.com </h4>
            <div class="profile-info">
                <a aria-label="My Github" target="_blank" href="https://github.com/langeeri"> <i class="fa-brands fa-square-github"></i> </a>
                <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/erika-langerov%C3%A1-35060b1b2/"><i class="fa-brands fa-linkedin"></i></a>
                <a aria-label="Send email" href="mailto:langeeri@protonmail.com?subject=Email Subject&body=Message Body""><i class="fa-solid fa-envelope" ></i></a>
            </div>
        </div>
        <div class="upper-left-column">
          <i class="fa-solid fa-location-dot" style="padding-bottom: 10px;"></i>          
          <h4> ČVUT UCEEB v Praze </h4>
          <h4> Třinecká 1024 </h4>
          <h4> Buštěhrad, 27343 </h4> 
          <i class="fa-solid fa-location-dot" style="padding-bottom: 10px; padding-top: 10px;"></i>          
          <h4> Regulus spol. s.r.o. </h4>
          <h4> Do Koutů 1897/3 </h4>
          <h4> Praha, 14300 </h4>
      </div>
        <div class="lower-left-column">
            <h3> Tech-stack </h3>
            <div class="lower-left-column-icons">
              <i class="devicon-django-plain" title="Django"></i>
              <i class="devicon-python-plain" title="Python"></i>
              <i class="devicon-pandas-original" title="Pandas"></i>
              <i class="devicon-numpy-original" title="NumPy"></i>
              <i class="devicon-sqlite-plain" title="SQLite"></i>
              <i class="devicon-javascript-plain" title="JavaScript"></i>
              <i class="devicon-html5-plain" title="HTML5"></i>
              <i class="devicon-css3-plain" title="CSS3"></i>
              <i class="devicon-react-original" title="React"></i>
              <i class="devicon-nodejs-plain" title="NodeJS"></i>
              <i class="devicon-nginx-original" title="Nginx"></i>
              <i class="devicon-linux-plain" title="Linux"></i>
              <i class="devicon-bash-plain" title="Bash"></i>
              <i class="devicon-docker-plain" title="Docker"></i>
              <i class="devicon-git-plain" title="Git"></i>
              <i class="devicon-tortoisegit-plain" title="TortoiseHg"></i>
            </div>
        </div>
    </div>
	<div class="profile-middle-column">
        <div class="container">
            <div class="wrapper">
              <h1> Zaměstnání </h1>
              <ul class="sessions">
                <li>
                  <div class="time"> <h2> Web Developer | Regulus spol. s.r.o | 2018 - nyní  | fulltime </h2> </div>
                  <p><i class="fa-solid fa-stop"></i> Fullstack vývoj webových aplikací (architektura, backend, frontend, databáze).
                  <p><i class="fa-solid fa-stop"></i> Aktuálně vyvíjím aplikaci Datasheets pro správu technické dokumentace. Umožňuje administraci více než 2 000 produktů ze 13 produktových skupin v několika světových jazycích. Plně nahrazuje práci sazeče a grafika, snížila chybovost a zredukovala čas přípravy a vydávání dokumentace o 50 %. </p>
                </li>
                <li>
                  <div class="time"> <h2> Software Developer | CTU UCEEB | 2022 - nyní | fulltime </h2> </div>
                  <p><i class="fa-solid fa-stop"></i> Řízení a testování systémů s tepelnými čerpadly, pokročilé využití simulací pro průmyslovou automatizaci
                  <p><i class="fa-solid fa-stop"></i> Interní testování před nasazením na reálných instalacích, oživování a uvádění do provozu přímo na místě i vzdáleně, dlouhodobá vzdálená správa a podpora </p>
                  <p><i class="fa-solid fa-stop"></i> Rozšířila jsem software laboratoře tepelných čerpadel o možnost testování metodou HiL s předpokladem navýšení objemu smluvního výzkumu o cca 0,5 mil. ročně.</p>
                  <p><i class="fa-solid fa-stop"></i> Můj software řídí laboratoř tepelných čerpadel ČVUT UCEEB, emulátory vytápění a přípravy teplé vody a několik tuzemských a zahraničních výzkumných instalací. </p>   
                  </p>
                </li>
              </ul>
            </div>
          </div> 
	</div>
	<div class="profile-right-column">
        <div class="container">
            <div class="wrapper">
              <h1> Vzdělání </h1>
              <ul class="sessions">
                <li>
                  <div class="time"> <h2> Ing. | ČVUT v Praze | Fakulta strojní | 2019 - 2021 </h2> </div>
                  <p> 
                    V diplomové práci jsem se zabývala analýzou provozních a odběrových charakteristik zásobníků teplé vody. Pro analýzu jsem využívala simulační software TRNSYS. Provedla jsem parametrické studie, zátěžové testy jednorázovými odběry a celoroční zátěžové testy. Pro zpracování dat jsem používala Matlab a Python.
                    <a href="https://dspace.cvut.cz/handle/10467/96754" target="_blank"> Odkaz na práci: zde.</a>
                  </p>
                </li>
                <li>
                  <div class="time"> <h2> Bc. | ČVUT v Praze | Fakulta strojní | 2015 - 2019 </h2> </div>
                  <p>
                    V bakalářské práci jsem řešila odběrové profily teplé vody. Prováděla jsem jejich analýzu, převod na křivky dodávky a porovnání s naměřenými daty. Pro zpracování dat jsem používala Python.
                    <a href="https://dspace.cvut.cz/handle/10467/84735" target="_blank"> Odkaz na práci: zde.</a>
                  </p>
                </li>
              </ul>
            </div>
        </div> 
  </div>
</div>
