<div class="profile-container">
  <div class="profile-button-container-left">
    <a href="/" ><div class="profile-button-back"> <i class="fa-solid fa-arrow-left"></i> </div></a>
  </div>
	<div class="profile-left-column">
        <div class="upper-left-column">
            <div class="profile-image">
                <img src="/assets/img/profile.jpeg" alt="Profile Image" />
            </div>
            <h3> Erika Langerová </h3>
            <h4> langeeri@protonmail.com </h4>
            <div class="profile-info">
                <a aria-label="My Github" target="_blank" href="https://github.com/langeeri"> <i class="fa-brands fa-square-github"></i> </a>
                <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/erika-langerov%C3%A1-35060b1b2/"><i class="fa-brands fa-linkedin"></i></a>
                <a aria-label="Send email" href="mailto:langeeri@protonmail.com?subject=Email Subject&body=Message Body""><i class="fa-solid fa-envelope" ></i></a>
            </div>
        </div>
        <div class="lower-left-column">
            <h3> Languages & Tools </h3>
            <div class="lower-left-column-icons">
                <i class="devicon-django-plain"></i>
                <i class="devicon-python-plain"></i>
                <i class="devicon-pandas-original"></i>
                <i class="devicon-numpy-original"></i>
                <i class="devicon-sqlite-plain"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-html5-plain"></i>
                <i class="devicon-css3-plain"></i>
                <i class="devicon-nginx-original"></i>
                <i class="devicon-linux-plain"></i>
                <i class="devicon-bash-plain"></i>
                <i class="devicon-git-plain"></i>
                <i class="devicon-tortoisegit-plain"></i>
                <i class="devicon-github-original"></i>
                <i class="devicon-markdown-original"></i>
            </div>
        </div>
    </div>
	<div class="profile-middle-column">
        <div class="container">
            <div class="wrapper">
              <h1> Work </h1>
              <ul class="sessions">
                <li>
                  <div class="time"> <h2> Web Developer | Regulus spol. s.r.o | 2018 - now  | fulltime </h2> </div>
                  <p> 
                    I'm currently developing a Django-based app designed to streamline technical documentation workflows. 
                    The app offers robust multilingual support and an automatic real-time PDF generation module with rich formatting
                    including image processing. Key functionalities include ORM for database interactions, 
                    localization, iternationalization, authentication and authorization system and a custom CRUD and ticket manager. </p>
                </li>
                <li>
                  <div class="time"> <h2> PLC Programmer | CTU UCEEB | 2022 - now | fulltime </h2> </div>
                  <p>
                    My focus is primarily on PLC programming for HVAC systems, including the development of energy systems dynamic simulation models and 
                    communication middlewares between these models and PLCs.  
                  </p>
                </li>
              </ul>
            </div>
          </div> 
	</div>
	<div class="profile-right-column">
        <div class="container">
            <div class="wrapper">
              <h1> Education </h1>
              <ul class="sessions">
                <li>
                  <div class="time"> <h2> Engineer | Czech Technical University in Prague | 2019 - 2021 </h2> </div>
                  <p> 
                    Graduated at Faculty of Mechanical Engineering. My diploma thesis aimed at analyzing the operational and draw-off characteristics of DHW storage tanks. 
                    The analysis was performed using the TRNSYS simulation tool. Parametric studies, 
                    single load tests and year-round load tests were 
                    conducted. Matlab and Python - namely Numpy and Pandas - were used for data processing.
                 </p>
                </li>
                <li>
                  <div class="time"> <h2> Bachelor | Czech Technical University in Prague | 2015 - 2019 </h2> </div>
                  <p>
                    Graduated at Faculty of Mechanical Engineering. My bachelor thesis aimed at DHW load profiles.
                    Load profiles were analyzed, converted to heat demand curves, and then compared with measured data. 
                    Python was used for data processing.
                  </p>
                </li>
              </ul>
            </div>
        </div> 
  </div>
</div>
