<div class="projects-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="projects-cards">
    <div class="projects-card ">
      <h3> Datasheets Web App </h3>
      <div class="tech-stack">
        <i class="devicon-django-plain"></i>
        <i class="devicon-python-plain"></i>
        <i class="devicon-pandas-original"></i>
        <i class="devicon-sqlite-plain"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-html5-plain"></i>
        <i class="devicon-css3-plain"></i>
        <i class="devicon-tortoisegit-plain"></i>
        <i class="devicon-nginx-original"></i>          
    </div>
      <p> The app is designed at Regulus to streamline the management of technical documentation. Key functionalities include ORM for database interactions,
          localization, iternationalization, authentication and authorization system and a custom CRUD and ticket manager. </p>
      <a class="projects-card-button" href="/datasheets/">Check it out</a>
    </div>
    <div class="projects-card ">
        <h3> HiL Testbed Control </h3>
        <div class="tech-stack">
            <i class="fa-solid fa-microchip"></i>
            <i class="devicon-python-plain"></i>
            <i class="devicon-pandas-original"></i>
            <i class="devicon-bash-plain"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>
        </div>
        <p> Test circuit enabling the testing of the entire heat pump systems and their controllers. The real-world conditions 
            are physically emulated by the laboratory based on a concurrent simulation 
            of the building's behavior under various climatic conditions changing throughout the day.</p>
        <a class="projects-card-button" href="/hil/">Check it out</a>
      </div>
      <div class="projects-card ">
        <h3> Comm Middleware </h3>
        <div class="tech-stack">
            <i class="fa-solid fa-microchip"></i>
            <i class="devicon-python-plain"></i>
            <i class="devicon-bash-plain"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>        
        </div>
        <p> This project showcases communication middleware designed for use within HiL testbeds. It enables communication between PLC(s) and the TRNSYS Fortran kernel by expanding the Type 1375 functionality through the ModBus TCP/IP protocol.</p>
        <a class="projects-card-button" href="/middleware/">Check it out</a>
      </div>
      <div class="projects-card ">
        <h3> Heat & Hot Dock </h3>
        <div class="tech-stack-small">
            <i class="fa-solid fa-microchip"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>        
        </div>
        <p> Heating system and DHW load emulator designed to accurately emulate building heating and DHW loads. They operate in conjunction with concurrent TRNSYS building simulations, providing a realistic conditions.</p>
        <a class="projects-card-button" href="/heatdock/">Check it out</a>
      </div>
      <div class="projects-card ">
        <h3> Powerskin+ Control </h3>
        <div class="tech-stack-small">
            <i class="fa-solid fa-microchip"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>         
        </div>
        <p>A simple system for control, monitoring, and datalogging developed as part of the Powerskin+ project at CTU UCEEB. It handles the operation of the solar system equipped with Flachglass glass panels. It is currently in trial operation in Germany.</p>
        <a class="projects-card-button" href="/powerskin/">Check it out</a>
      </div>
      <div class="projects-card ">
        <h3> Type 201 Add-On </h3>
        <div class="tech-stack-small">
            <svg width="27" height="26" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M18.969 0C13.25 0 0 11 0 18.66v90.453c0 5.692 11.21 18.903 18.781 18.903l90.551-.032c6.738-.004 18.688-9.683 18.688-18.601V18.84c0-6.078-10.61-18.832-18.43-18.832L18.969 0zm-1.395 13.66h93.367v41.711l-10.992-.164c-.101-.098-.402-3.047-.605-5.758C98.19 36.7 95.328 29.363 89.809 26.5c-2.914-1.504-7.457-1.95-22.02-1.953l-13.57.004v31.273h2.41c4.066-.05 9.234-1.004 10.941-2.058 2.211-1.356 4.067-5.27 4.72-9.989.491-3.445.87-6.023.87-6.023h10.676v49.691H72.793v-1.957c0-3.21-1.508-10.691-2.563-12.949-1.656-3.465-4.464-4.668-12.449-5.422l-3.664-.351.203 16.113c.149 15.308.25 16.164 1.203 17.469 1.207 1.605 2.512 1.906 10.493 2.507l5.355.258-.035 10.938H17.574v-10.942l4.922-.304c9.988-.653 9.887-.602 10.39-8.43.45-7.43-.116-65.598-.452-66.762-.551-1.922-2.618-3.027-8.786-3.023l-6.074-.04V13.66z"/>
              </svg>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>          
        </div>
        <p>Custom hydronic Heater/Cooler Type for TRNSYS Simulation Studio. Written in Fortran. To be used as an add-on extension for TRNSYS Simulation Studio. Available on GitHub with source code and pre-compiled DLLs. </p>
        <a class="projects-card-button" href="/type201/">Check it out</a>
      </div>
      <div class="projects-card-last">
        <a href="https://github.com/langeeri">         
          <i class="devicon-github-original"></i> 
          <h3> Find More on GitHub </h3> 
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
  </div>
  